.box
{
	background-color:azure;
	border-radius: 20px; 
	border: 10px;
	padding: 10px;
	margin: 10px;
	border-color: black;
}

div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:crimson;
	background-color:burlywood;
	padding:8px;
}

body 
{
  background-image: url('./Treats.jpg');
  color:olive;
  background-size: cover;
  background-position:center;
  background-repeat:round;
  background-attachment: fixed;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 125%;
  border: 20px;
  padding: 25px;
  margin: 50px;
	margin-bottom: 150px;
  opacity: 85%;
	text-align: justify;
	display: block;
	box-sizing: border-box;
	float:left;
}
.fade-in-left
{
	animation: fadeInLeft 2s;
}
@keyframes fadeInLeft
{
	0% { 
		opacity: 0; 
		transform: translateX(-30px);
	}

	100% { 
		opacity: 1; 
		transform: translate(0);
	}
}

input
{
	background-color:blanchedalmond;
	color:lightsalmon;
	border-radius: 10px;
}

a
{
	color:chocolate;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: 100;
}
a:hover
{
	color: bisque;
}

select
{
	background-color:blanchedalmond;
	color: coral;
}
input.btn
{
	background-color:burlywood;
	color: cornflowerblue;
}
